// Path alias
$assetPath :                '/assets/';

// Type
// --------------------------------------------------
// Font weights
$thin:                      100;
$light:                     300;
$regular:                   400;
$semibold:                  600;
$bold:                      700;
$thick:                     800;

// Base Font
$base-font-family:          arial,sans-serif !default;
$base-font-weight:          $regular !default;
$base-font-size:            16px !default;
$base-line-height:          1.5 !default;
$base-margin-bottom:        1rem !default;

// Headings
$header-font-family:        serif !default;
$header-font-weight:        $regular !default;
$header-font-size:          1.1rem !default;

$body-font-size:            1rem !default;


// Media queries
// --------------------------------------------------
$ipad:                      768px !default;
$desktop:                   1025px !default;

// Layout
// --------------------------------------------------
$main-width:                820px !default;
$vertical-padding:          35px !default;
$gutter:                    35px / $main-width * 100 !default;
$mobile-gutter:             5% !default;
$mobile-gutter-main:        8% !default;

// Colors
// -------------------------
$primary-color:             #0099cc !default;
$secondary-color:           #7c152c !default;
$light-grey-color:          #cecece !default;

$body-text-color:           #767676 !default;

$link-color:                $secondary-color !default;
$link-hover-color:          $primary-color !default;
