/* Type
-------------------------------------------------------------- */
body {font:$base-font-weight $base-font-size $base-font-family;line-height:$baseline;}
p {line-height:$baseline;margin-bottom:$baseline;}
h1 {line-height:$baseline;margin-bottom:$baseline;}
h2 {line-height:$baseline;margin-bottom:$baseline}
h3 {line-height:$baseline;margin-bottom:$baseline}
h4 {line-height:$baseline;margin-bottom:$baseline}
